<h2><%= @shelter.name %></h2>

<a href="/shelters/<%= @shelter.id %>/pets">Available Pets for Adoption Here!</a>

<p><%= @shelter.address %>, <%= @shelter.city %>, <%= @shelter.state %> <%= @shelter.zip %></p>

<a href="/shelters/<%= @shelter.id %>/edit"><input type="submit" value="Click here to edit this shelter's information"/></a>
<br>
<br>
<form action="/shelters/<%= @shelter.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="click here to delete"/>
</form>
