<h2>Available for Adoption</h2>

<% @pets.each do |pet| %>
  <a href="/pets/<%= pet.id %>"><img src="<%= pet.image %>" height="300"></a><br/>
  <p ><%= pet.name %></p>
  <p>Age: <%= pet.age %><br/>
    Sex: <%= pet.sex %><br/>
    Shelter: <%= pet.shelter_name %>
  </p>
  <a href="/pets/<%= pet.id %>/edit"><input type="submit" value="edit"/></a>
  <br>
  <form action="/pets/<%= pet.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Remove"/>
  </form>
  <br>
<% end %>
