<h2><%= @pet.name %></h2>

<p>
  <img src="<%= @pet.image %>" height="300"><br/>
  Description: <%= @pet.description %><br/>
  Age: <%= @pet.age %><br/>
  Sex: <%= @pet.sex %><br/>
  Status: <%= @pet.status %>
</p>
